<div class="container-fluid text-center">
    <h5 class="pt-3">Pressupostos anteriors</h5>
    <hr class="pb-4">
    <div *ngFor="let budgetClient of budgetArrayList">
        <p>{{budgetClient.clientRegistration.name}} {{budgetClient.clientRegistration.client}} {{budgetClient.date}}</p>
        <p>{{budgetClient.service.webPage}} {{budgetClient.service.seoCampaign}} {{budgetClient.service.adsCampaign}}</p>
        <p>{{budgetClient.service.options.pages}} {{budgetClient.service.options.languages}}</p>
        <p>{{budgetClient.price}}</p>
    </div>
</div>