<form [formGroup]="myOptionsForm">
    <div class="input-group mb-3">
        <button mat-stroked-button color="accent" (click)="calculateIncDec('pages')">
            <mat-icon>exposure_neg_1</mat-icon>
        </button>
        <span class="input-group-text w-25">Pàgines</span>
        <input type="number" formControlName="pages" class="form-control" aria-label="pages">
        <button mat-stroked-button color="accent" (click)="calculateIncDec('pages', true)">
            <mat-icon>exposure_plus_1</mat-icon>
        </button>
    </div>
    <mat-error class="form-text text-danger" *ngIf="isInvalid('pages')">
        Mínim una pàgina</mat-error>
    <div class="input-group mb-3">
        <button mat-stroked-button color="accent" (click)="calculateIncDec('languages')">
            <mat-icon>exposure_neg_1</mat-icon>
        </button>
        <span class="input-group-text w-25">Llengües</span>
        <input type="number" formControlName="languages" class="form-control" aria-label="languages">
        <button mat-stroked-button color="accent" (click)="calculateIncDec('languages', true)">
            <mat-icon>exposure_plus_1</mat-icon>
        </button>
    </div>
    <mat-error class="form-text text-danger" *ngIf="isInvalid('languages')">
        Mínim un llenguatge</mat-error>
</form>
