<div class="container-fluid row">
    <div class="list-group col-8">
        <div class="list-group-item text-center container justify-content-center">
            <input type="checkbox" class="col-2" name="webPage" id="webPage"><h6>Una pàgina web (500 €) <hr></h6>
            <app-panel></app-panel>
        </div>
        <div class="list-group-item text-center container">
            <input type="checkbox" class="col-2" name="seoCampaign" id="seoCampaign"><h6>Una campanya SEO (300 €) <hr></h6></div>
        <div class="list-group-item text-center container">
            <input type="checkbox" class="col-2" name="adsCampaign" id="adsCampaign"><h6>Una campanya de publicitat (200 €) <hr></h6></div>
    </div>
    <div class="col-4">
        <app-sidebar></app-sidebar>
    </div>
</div>