<form [formGroup]="clientForm" (ngSubmit)="onSubmitClient()">
    <mat-form-field>
        <input matInput placeholder="Nom del pressupost" formControlName="budgetName">
        <mat-hint align="start"><em><small>Mínim tres caracters</small></em></mat-hint>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input matInput placeholder="Nom del client" formControlName="clientName">
        <mat-hint align="start"><em><small>Mínim tres caracters</small></em></mat-hint>
    </mat-form-field>
    <br>
    <button type="submit" mat-stroked-button color="accent" [disabled]="clientForm.invalid" (click)="change()">Guarda</button>
</form>