<form [formGroup]="clientForm" (ngSubmit)="onSubmitClient()">
    <div cellspacing="0">
        <mat-form-field class="col-12 col-lg-6 w-75">
            <input matInput placeholder="Nom del pressupost" formControlName="name">
            <mat-hint align="end"><em><small>Mínim tres caracters</small></em></mat-hint>
        </mat-form-field>
        <mat-form-field class="col-12 col-lg-6 w-75">
            <input matInput placeholder="Nom del client" formControlName="client">
            <mat-hint align="end"><em><small>Mínim tres caracters</small></em></mat-hint>
        </mat-form-field>
        <br>
        <button type="submit" mat-stroked-button color="accent" [disabled]="clientForm.invalid">Guarda</button>
    </div>
</form>