<div class="container justify-content-center">
    <div class="row justify-content-center hoverControl">
        <div mat-dialog-content class="budgetClass col-12" *ngFor="let budgetClient of (filteredArray | async |order:orderBy)">
            <hr>
            <p><strong>Nom de pressupost:</strong> {{budgetClient.clientRegistration.name | titlecase}}</p>
            <p><strong>Nom de client:</strong> {{budgetClient.clientRegistration.client | titlecase}}</p>
            <p><strong>Data:</strong> {{budgetClient.date}}</p>
            <div *ngIf="budgetClient.service.webPage">
                <p>Una pàgina web amb {{budgetClient.service.options.pages}} 
                    <ng-container *ngIf="budgetClient.service.options.pages === 1; else pluralPages">
                        pàgina
                    </ng-container>
                    <ng-template #pluralPages> pàgines </ng-template>
                    i {{budgetClient.service.options.languages}}
                    <ng-container *ngIf="budgetClient.service.options.languages === 1; else pluralLanguages">
                        llenguatge
                    </ng-container>
                    <ng-template #pluralLanguages> llenguatges </ng-template>
                </p>
            </div>
            <p *ngIf="budgetClient.service.seoCampaign">Campanya SEO contractada</p>
            <p *ngIf="budgetClient.service.adsCampaign">Campanya de publicitat contractada</p>
            <div class="container">
                <div class="row">
                    <div class="col-2"></div>
                    <p class="col-8">
                        <strong>Preu total:</strong> {{budgetClient.price}}€</p>
                    <!-- <button mat-icon-button class="col-2" (click)="deleteBudge(budgetClient.id, budgetArrayList, filteredArray)">
                        <mat-icon>delete_outline</mat-icon>
                    </button> -->
                </div>
            </div>
            <hr>
        </div>
    </div>
</div>