<div class="container">
    <h1 class="text-center">Benvingut a la calculadora de pressupostos</h1>
    
    <div class="row justify-content-center m-5 p-4 blackBorder">
        <p class="col-9 text-center">Aquí podràs agilitzar la teva comptabilitat</p>
        <button class="btn btn-outline-danger w-auto" routerLink="/paginaWeb/:webPage/campaniaSeo/:seoCampaign/campaniaAds/:adsCampaign/Paginas/:pages/Idiomas/:languages" >Accedeix</button>
    </div>
    <app-sidebar-controller></app-sidebar-controller>
</div>
