.container-fluid {
    height: 100%;
    width: 100%;
}

.hoverControl :hover{
        background-color: rgb(63, 63, 63);
}

.buttonOrder {
    background-color: rgb(63, 63, 63);
    padding: 0;
}

.budgetClass {
    width: 100%;
    margin-bottom: 20px;
    border: 1.5px solid rgb(70, 70, 70);
    border-radius: 25px;
    font-size: 0.8rem;
}

.colorWhite {
    color: white;
}