<div class="container-fluid text-center">
    <div class="d-flex justify-content-start">
        <button mat-dialog-close type="button" class="btn-close btn-close-white"></button>
    </div>
    <h5 mat-dialog-title class="pt-3">Pressupostos anteriors</h5>

    <button mat-stroked-button cdkFocusInitial class="buttonOrder" [matMenuTriggerFor]="orderMenu">Ordena</button>
    <mat-menu #orderMenu="matMenu">
        <button mat-menu-item>Reinicia l'ordre</button>
        <button mat-menu-item>Per data</button>
        <button mat-menu-item [matMenuTriggerFor]="alphabet">Alfabèticament</button>
    </mat-menu>

    <mat-menu #alphabet="matMenu">
        <button mat-menu-item>Per nom</button>
        <button mat-menu-item>Per client</button>
    </mat-menu>

    <hr class="pb-4">
    <div class="container d-flex justify-content-center">
        <div class="row justify-content-center">
            <div mat-dialog-content class="budgetClass col-12" *ngFor="let budgetClient of budgetArrayList">
                <hr>
                <p>Nom de pressupost: {{budgetClient.clientRegistration.name}}</p>
                <p>Nom de client: {{budgetClient.clientRegistration.client}}</p>
                <p>Data: {{budgetClient.date}}</p>
                <div *ngIf="budgetClient.service.webPage">
                    <p>Una pàgina web amb {{budgetClient.service.options.pages}} pàgines i {{budgetClient.service.options.languages}} llenguatges</p>
                </div>
                <p *ngIf="budgetClient.service.seoCampaign">Campanya SEO contractada</p> 
                <p *ngIf="budgetClient.service.adsCampaign">Campanya de publicitat contractada</p>
                <p>Preu total: {{budgetClient.price}}€</p>
                <hr>
            </div>
        </div>
    </div>
</div>