.container-fluid {
    height: 100%;
    width: 100%;
}

::ng-deep .mat-form-field .mat-focused .mat-form-field-label {
    color: #50d0fb !important;
}

::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background-color: #50d0fb !important;
    color: #50d0fb !important;
}


.buttonOrder {
    background-color: rgb(63, 63, 63);
    padding: 0;
}

.colorWhite {
    color: white!important;
}
.backgroundWhite {
    background-color: white!important;
}